body, html {
    font-family: 'Roboto', sans-serif;
    color: $mainText;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}

a {
    color: $linkText;
    text-decoration: none;
}

.center {
    text-align: center;
    align-content: center;
    justify-content: center;
}

.center-image {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}