/* Colors */
$greyPurple: #605499;
$mainText: #181016;
$linkText: #2676ff;
$lightGrey: #a4a4b3;
$deepPurple: #2A0ACC;
$tan: #FFBE66;
$orange: #CC5D0A;


/* Sizes */
$small: 580px;
$medium: 780px;
$med-large: 900px;
$large: 1150px;
$huge: 1400px;
$giant: 2410px;