.code-block {
    font-size: 1em;

    &__section {
        font-size: 0.8em;
        max-height: 800px;
        overflow: auto;
        padding: 2px;
        margin-top: 5px;
        border: 1px solid $lightGrey;
    }
}