

.collapsee {
    display: none;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform .2s ease-in-out;

    &--showing {
        display: block;
        transform: scaleY(50%);
    }    

    &--show {
        display: block;
        transform: scaleY(1);
    }
}