.row {
    
    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &--padded {
        margin-right: -65px;
    }

    &--padded > div {
        padding-right: 65px;
    }


    @media (min-width: $small) {
        &__small-4 {
            float: left;
            width: 33.333%;
        }
        
        &__small-12 {
            float: left;
            width: 100%;
        }

    }

    
    @media (min-width: $medium) {
        
        &__medium-3 {
            float: left;
            width: 25%;
        }
        
        &__medium-4 {
            float: left;
            width: 33.33%;
        }
        
        &__medium-6 {
            float: left;
            width: 50%;
        }
        
        &__medium-8 {
            float: left;
            width: 66.66%;
        }
        
        &__medium-9 {
            float: left;
            width: 75%;
        }
        

        
        &--ml {
            margin-left: 20px;
            
        }
    }



    @media (min-width: $large) {

        &__large-3 {
            float: left;
            width: 25%;
        }

        &__large-8 {
            float: left;
            width: 66.66%;
        }

    }
    


}